*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
.back{
min-height: 100vh;
width: 100%;
background-color: #000;
background-image: url(https://media2.giphy.com/media/BHNfhgU63qrks/giphy.gif?cid=ecf05e47258lwhm39hnocwtf1mxzawdp85zbinjo5es83qvf&rid=giphy.gif&ct=g);
background-repeat:no-repeat;
background-size: 100%;
}
.canvas-field{
  display: block;
  background: #262626;
  width: min-content;
  height:min-content;
  margin:auto;
  border-radius: 1rem;
  box-shadow: 0 0 50px rgba(0,0,0,0.9);
}
main{
  font-family: 'Roboto', sans-serif;
  height:100vh ;

}
.dash{
 padding-top: 2%;
 
}

.restart{
  
position: absolute;
color:grey;
border: none;
font-size: 30px;
background: none;
padding-left: 200px;
padding-top:10px;
 
}
.restart:hover{
  
  color:#bc2a8d;
  transition: 0.3s ;
}
span{
  color:#bc2a8d;
  font-size: 30px;
 
}
.Sc{
  font-size: 30px;
  color:grey;
  padding:2%;
}
.Steps{
  font-size: 30px;
  color:grey;
}
span#Score{
  padding-right:100px ;
}









/* 
*{
color: #74a417,
    #ee4e1e,
    #3db0bf,
    #ffca00,
    #911acf,
    #e902dc
} */
